<template>
	<transition name="slide-fade" @after-leave="handleAfterLeave">
		<div
			id="webview"
			v-if="show"
			@click="$WebView.close()"
		>
				<i class="close" />
			<div class="wraper">
				<iframe
					:src="url"
					allowtransparency="true"
					frameborder="0"
					id="webviewIframe"
					marginheight="0"
					marginwidth="0"
					scrolling="auto"
					style="width:100%;height:100%"
				></iframe>
			</div>
		</div>
	</transition>
	<!--	</van-popup>-->
</template>

<script>
import { afterLeave } from '../utils';

export default {
	name: "webview",
	data() {
		return {
			url: '',
			show: false
		}
	},
	mounted() {
		afterLeave(this, async () =>{
			// await this.$Load.show({
			// 	el: '.wraper'
			// })
			let webviewIframe = document.getElementById('webviewIframe')
			webviewIframe.onload = (e) => {
				// this.$Load.close()
			}
		})
	},
	watch: {
		show(v) {
			if (v) {
				this.push()
			} else
				this.remove()
		}
	},
	methods: {
		push(state = { flag: 'close-webview-popup' }) {
			history.pushState(state, document.title, location.href);
			window.addEventListener('popstate', () => {
				this.$WebView.close()
			})
		},
		remove(state = { flag: 'close-webview-popup' }) {
			if (Object.values(history.state)
			.includes(state.flag)) {
				history.go(- 1)
				window.removeEventListener('popstate', () => {
					this.$WebView.close()
				})
			}
		},
		handleAfterLeave() {
			this.$emit('after-leave')
		}
	}
}
</script>

<style scoped>
#webview {
	width: 100%;
	height: 100%;
	position: fixed;
	position: -ms-device-fixed;
	top: 0;
	left: 0;
	z-index: 200;
	background: #f5f5f5;
	box-sizing: border-box;
	transition: 0.3s all;
}
.slide-fade-enter,
.slide-fade-leave-active {
	opacity: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-overflow-scrolling: touch;
	/*transform: scale(0);*/
}
.wraper{
	width: 100%;
	height: 100%;
	padding: 30px 0 0;
	box-sizing: border-box;
}
i.close{
	position: absolute;
	right: 20px;
	top: 5px;
	width: 20px;
	height: 20px;
	z-index: 9999;
	background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E %3Cpath fill='%23999' d='M400 54.1c63 45 104 118.6 104 201.9 0 136.8-110.8 247.7-247.5 248C120 504.3 8.2 393 8 256.4 7.9 173.1 48.9 99.3 111.8 54.2c11.7-8.3 28-4.8 35 7.7L162.6 90c5.9 10.5 3.1 23.8-6.6 31-41.5 30.8-68 79.6-68 134.9-.1 92.3 74.5 168.1 168 168.1 91.6 0 168.6-74.2 168-169.1-.3-51.8-24.7-101.8-68.1-134-9.7-7.2-12.4-20.5-6.5-30.9l15.8-28.1c7-12.4 23.2-16.1 34.8-7.8zM296 264V24c0-13.3-10.7-24-24-24h-32c-13.3 0-24 10.7-24 24v240c0 13.3 10.7 24 24 24h32c13.3 0 24-10.7 24-24z'%3E%3C/path%3E %3C/svg%3E");
}
</style>
