<template>
	<div class="dialog-chat">
		<chat
			ref="patientDialog"
			:self_msg_type="[0, 1]"
			:sys_msg_type="5"
			:open-dialog-params="dialogParams"
			:open-dialog-api="OpenDialog"
			:get-msg-list-api="GetDialogMessagePageListByLT"
			:send-msg-api="SendDialogMessage"
			@on-open-dialog-err="handleOpenDialogErr"
		/>
	</div>
</template>

<script>
import Chat from '_c/main/chat/chat';
import { GetDialogMessagePageListByLT, OpenDialog, SendDialogMessage } from './api_dialog-chat';
import { insuranceList } from '_v/insurance/insurance-list';

export default {
	// 聊天
	name: "dialog-chat",
	components: { Chat },
	data() {
		return {
			dialogParams: {
				serviceType: '',
				source: '',
			},
			GetDialogMessagePageListByLT,
			OpenDialog,
			SendDialogMessage
		}
	},
	methods: {
		handleOpenDialogErr(){
			console.log('打开对话失败')
		}
	},
	created(){
		// console.error(this.$route.query, 'asdasdasdasd')
		// if(this.$route.query.channel_code !== 'app' && !this.$route.query.entrance){
		// 	document.title = '肾爱保-肾上线健康管理版'
		// }else {
		// 	document.title = '肾上线客服'
		// }
		const routeQuery = this.$route.query
		// insur_code 保险产品 code
		console.log({
			serviceType: this.getServiceType(routeQuery.channel_code),
			source: this.getSource(routeQuery.source_code)
		}, 'openDialog 参数')
		/**@type InsuranceListProps*/
		Object.assign(this.dialogParams,{
			serviceType: this.getServiceType(routeQuery.channel_code),
			source: this.getSource(routeQuery.source_code)
		})

	},
}
</script>

<style lang="less" scoped>
.dialog-chat{
	height: 100%;
}
</style>
