<template>
	<div style="position: relative; height: 100%;">
		<div
			class="refresh-more-container"
			:class="{'no-load': (handleState === -1), 'down':(handleState===0),'up':(handleState===1),refresh:(handleState===2),touch:touching}"
			@touchstart="onTouchStart($event)"
			@touchmove="onTouchMove($event)"
			@touchend="onTouchEnd($event)"
			@scroll="onScroll"
		>
			<!--@scroll="(onInfinite || infiniteLoading) ? onScroll($event) : undefined"-->
			<section
				class="list-cont-container scroll-cont"
				:style="{ top: refreshHeaderOffset/-1 + 'px', transform: 'translate3d(0, ' + offsetTop + 'px, 0)' }"
			>
<!--				transform: 'translate3d(0, ' + offsetTop + 'px, 0)'-->
				<header
					class="refresh-more-header"
					ref="refresh-more-header"
					:style="{height: refreshHeaderOffset+'px', opacity: (handleState === null ?0:1)}">
					<slot name="pull-refresh">
						<span class="refresh-load-all-tip" v-if="C_PageSize === 0">已加载完全部信息</span>
						<template v-else>
							<span
								class="refresh-more-down-tip"
								:style="{ transform: `scale(${offsetTop / 80})`,'color': theme }">
								下拉更新
							</span>
							<span
								class="refresh-more-up-tip"
								:style="{'color': theme}">
								松开更新
							</span>
<!--							<span class="refresh-more-refresh-tip">更新中……</span>-->
							<span class="refresh-more-refresh-tip loading__spinner loading__spinner--circular" :style="{'color': theme}">
								<svg viewBox="25 25 50 50" class="van-loading__circular">
									<circle cx="50" cy="50" r="20" fill="none"></circle>
								</svg>
							</span>
						</template>
					</slot>
				</header>
				<div ref="list-cont" style="overflow-x: hidden;">
					<slot />
				</div>
				<footer class="refresh-more-footer" v-show="onInfinite">
					<slot name="load-more">
						<span class="refresh-load-all-tip" v-if="C_PageSize === 0">已加载完全部信息</span>
						<span v-else>{{loadingText}}</span>
						<span class="loading__spinner loading__spinner--circular" :style="{'color': theme}">
							<svg viewBox="25 25 50 50" class="van-loading__circular">
								<circle cx="50" cy="50" r="20" fill="none"></circle>
							</svg>
						</span>
					</slot>
				</footer>
			</section>
		</div>
	</div>
</template>

<script>
export default {
	name: "refresh-more",
	props: {
		// 是否在PC端
		isPc: {
			type: Boolean,
			default: false,
			required: false
		},
		/**
		 * onRefresh 下拉刷新
		 */
		onRefresh: {
			type: Function,
			default: undefined,
			required: false
		},
		/**
		 * onInfinite 上拉加载
		 */
		onInfinite: {
			type: Function,
			default: undefined,
			require: false
		},
		/**
		 * 底部加载文本
		 */
		loadingText: {
			type: String,
			default: "加载中..."
		},
		/**
		 * 每次获取的 数据长度
		 * @desc 需要实时传入
		 **/
		pagesize: {
			type: Number,
			required: true
		},
		// 加载主题色
		theme: String
	},
	model: {
		prop: 'pagesize'
	},
	data() {
		return {
			// 加载新消息后的偏差
			loadAfterOffset: 30,
			refreshHeaderOffset: 80,
			scrollTops: 0,
			// 占位高度
			placeholderTop: 40,
			// 顶部偏移
			offsetTop: 0,
			// 滑动状态 -1: 已经加载完, 0: 下拉, 1:上拉, 2: 加载中, null: 清除
			handleState: 0,
			// Y轴偏移量
			startY: 0,
			// 正在滑动???
			touching: false,
			// 上拉刷新
			infiniteLoading: false,
		};
	},
	computed: {
		C_PageSize: {
			get() {
				if (!this.pagesize && this.pagesize !== 0) {
					Error('缺少必要props--> pagesize [每次获取的消息条数]')
					return
				}
				if(this.pagesize <= 0){
					// eslint-disable-next-line vue/no-side-effects-in-computed-properties
					this.handleState = -1
				}
				return this.pagesize <= 0 ? 0 : this.pagesize

			},
			set() {}
		},
		// 是否可以下拉刷新
		C_EnableRefresh(){
			return typeof this.onRefresh === 'function'
		},
		// 是否可以上拉刷新
		C_EnableInfinite(){
			return typeof this.onInfinite === 'function'
		}
	},
	mounted() {
		this.placeholderTop = this.$refs['refresh-more-header'].offsetHeight
		// if (!window.requestAnimationFrame) {
		// 	requestAnimationFrame = function(fn) {
		// 		setTimeout(fn, 17);
		// 	};
		// }
	},
	methods: {
		onTouchStart(e) {
			if(this.handleState === -1){
				this.offsetTop = this.placeholderTop
				return
			}
			if (this.offsetTop === this.placeholderTop) {
				let scrollContainer = document.querySelector('.refresh-more-container')
				this.offsetTop = 0
				scrollContainer.scrollTop = this.$refs['list-cont'].children[this.pagesize].offsetTop - this.loadAfterOffset - this.refreshHeaderOffset
			}
			this.startY = e.targetTouches[0].pageY;
			this.startScroll = this.$el.scrollTop || 0;
			this.touching = true;
			this.placeholderTop = this.$refs['refresh-more-header'].offsetHeight
		},
		onTouchMove(e) {

			if (!this.C_EnableRefresh || this.$el.scrollTop > 0 || !this.touching) {
				return;
			}
			let scrollContainer = document.querySelector('.refresh-more-container')
			// if(this.scrollTops !== 0)return;
			let endY = e.targetTouches[0].pageY;
			let diff = e.targetTouches[0].pageY - this.startY - this.startScroll;

			if (this.handleState === 2) return;
			if (this.offsetTop >= this.placeholderTop) {
				this.handleState = 1;
			} else {
				this.handleState = 0;
			}
			if (endY > this.startY && scrollContainer.scrollTop <= 0) {
				e.preventDefault();
				this.offsetTop = Math.pow(diff, 0.8) + (this.handleState === 2 ? this.placeholderTop : 0);
			}
			if (this.scrollTops === 0 && scrollContainer.scrollTop < 0) {
				this.offsetTop = 0
				e.preventDefault();
				this.handleState = null
			}
			if (endY < this.startY && scrollContainer.scrollTop + scrollContainer.clientHeight >= scrollContainer.scrollHeight) {
				e.preventDefault();
			}
		},
		onTouchEnd(e) {
			if (!this.C_EnableRefresh) return;
			if(this.handleState === -1){
				this.offsetTop = this.placeholderTop
				return;
			}
			this.touching = false;
			if (this.handleState === 2) {
				// in refreshing
				this.handleState = 2;
				this.offsetTop = this.placeholderTop;
				return;
			}
			if (this.offsetTop >= this.placeholderTop) {
				// do refreshFn
				this.refreshFn();
			} else {
				// cancel refreshFn
				this.handleState = 0;
				this.offsetTop = 0;
			}
		},
		refreshFn() {
			this.handleState = 2;
			this.offsetTop = this.placeholderTop;
			this.onRefresh(this.refreshDoneFn);
		},
		refreshDoneFn() {
			this.handleState = this.C_PageSize === 0 ? -1:0;
			this.offsetTop = this.placeholderTop;
			this.infiniteLoading = false;
		},

		infiniteFn() {
			if (this.handleState === - 1) {
				// this.offsetTop = this.placeholderTop
				return;
			}
			this.infiniteLoading = true;
			this.onInfinite(this.infiniteDoneFn);
		},

		infiniteDoneFn() {
			this.infiniteLoading = false;
		},
		/**
		 * 滚动到某位置
		 * @param destin_flag {string} 滚动到的位置[button: 底部, to_view: 指定位置]
		 * @param pageSize {number} 每次获取的消息条数, 默认取组件传入的props
		 */
		scrollToFn(destin_flag, pageSize = this.C_PageSize) {
			this.$nextTick(() => {
				let scrollContainer = document.querySelector('.refresh-more-container')
				if (destin_flag === 'bottom') {
					// scrollContainer.scrollTop = scrollContainer.scrollHeight
					scrollContainer.scrollTo({
						top: scrollContainer.scrollHeight,
						behavior: 'smooth'
					})
				} else {
					scrollContainer.scrollTop = this.$refs['list-cont'].children[pageSize].offsetTop - this.loadAfterOffset
				}
			})
		},
		onScroll(e) {
			if(this.isPc && this.onRefresh){
				// console.log(e.target.scrollTop, 'e.target.scrollTop')
				if(e.target.scrollTop <= 0 && this.C_PageSize > 0){
					this.refreshFn()
				}
			}
			// console.log(this.scrollTops, 'this.scrollTops')
			if (e.target.scrollTop < 0) {
				this.scrollTops = 0
				e.preventDefault();
			} else {
				this.scrollTops = e.target.scrollTop
			}
			// this.scrollTops = e.target.scrollTop < 0 ? 0:e.target.scrollTop
			if (!this.C_EnableInfinite || this.infiniteLoading) {
				return;
			}
			let outerHeight = this.$el.clientHeight;
			// console.log(outerHeight, 'outerHeight')
			// return;
			let innerHeight = this.$el.querySelector(".list-cont-container").clientHeight;
			let scrollTop = e.target.scrollTop;
			let ptrHeight = this.onRefresh
				? this.$el.querySelector(".refresh-more-header").clientHeight
				: 0;
			let infiniteHeight = this.$el.querySelector(".refresh-more-footer").clientHeight;
			let bottom = innerHeight - outerHeight - scrollTop - ptrHeight;

			if (bottom < infiniteHeight) (this.onInfinite || this.infiniteLoading) && this.infiniteFn();
		}
	}
};
</script>
<style lang="less">
	.refresh-more-container {

		position: absolute;
		/* top: 2.5rem;  */
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		height: 100%;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	.refresh-more-container .list-cont-container {
		position: absolute;
		width: 100%;
		/*transition-timing-function: linear;*/
		padding: 0 15px;
		box-sizing: border-box;
		transition-duration: 300ms;
	}

	.refresh-more-container .refresh-more-header {
		position: relative;
		left: 0;
		top: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.refresh-more-container.touch .list-cont-container {
		transition-duration: 0ms;
	}

	.refresh-more-container.down .refresh-more-down-tip {
		display: block;
	}

	.refresh-more-container.no-load .refresh-load-all-tip{
		display: block;
	}
	.refresh-more-container.down,
	.refresh-more-container.up,
	.refresh-more-container.refresh{
		.refresh-load-all-tip {
			display: block;
		}
	}

	.refresh-more-container.up .refresh-more-up-tip {
		display: block;
	}

	.refresh-more-container.refresh .refresh-more-refresh-tip {
		display: block;
	}

	.refresh-more-container .refresh-load-all-tip,
	.refresh-more-container .refresh-more-down-tip,
	.refresh-more-container .refresh-more-refresh-tip,
	.refresh-more-container .refresh-more-up-tip {
		display: none;
	}

	.refresh-more-container .refresh-more-footer {
		height: 3rem;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 0 4px;
		.refresh-load-all-tip {
		}
	}
	.loading__spinner {
		position: relative;
		display: inline-block;
		width: 30px;
		max-width: 100%;
		height: 30px;
		max-height: 100%;
		vertical-align: middle;
		-webkit-animation: van-rotate 0.8s linear infinite;
		animation: van-rotate 0.8s linear infinite;
	}
	.loading__spinner--circular {
		-webkit-animation-duration: 2s;
		animation-duration: 2s;
	}
	@keyframes van-rotate {
		0%{
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}
		100%{
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
</style>
