<template>
  <div class="theme">
    <div class="tu">
      <img src="../../common/imgs/zanwu.png" alt="" />
    </div>
    <p>
      抱歉，该应用仅对肾上线App用户开放，而您的手机号已经注册了肾上线医生端App，如有疑问请联系客服：shensx2018
    </p>
  </div>
</template>
<script>
export default {
  name: 'doctorlogin',
  mounted() {
    history.pushState(null, null, document.URL);
    window.addEventListener('popstate', function() {
      history.pushState(null, null, document.URL);
    });
  },
};
</script>

<style lang="stylus" scoped>

.theme {
  height: 100%;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  ios();

  .tu {
    width: 100%;
    height: 50%;
    flex-shrink: 0;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      flex-shrink: 0;
      display: block;
      margin: 0 auto;
    }
  }

  p {
    margin: 15px 0;
  }
}
</style>
