<template>
	<div class="chat-container flex_direction__column" :style="{'--theme': theme}">
		<div class="chat-tip" v-show="dialog_tip" ref="chatTip">{{ dialog_tip }}</div>
		<!--flex_grow__1 flex_shrink__1-->
		<ul
			id="chat"
			class="msg-list-w flex_grow__9 flex_shrink__9"
			ref="chatList"
			:style="{ 'padding-top': `${styleInfo.chatTip.offsetHeight + 4}px` }"
		>
			<span v-if="showFirstLoad" class="first-loading theme-loading" />
			<!--:style="{'margin-bottom': styleInfo.moreFnSend.offsetHeight + 'px'}"-->
			<refresh-more
				theme="#eb8e45"
				v-model="hisMsgLen"
				:on-refresh="onRefresh"
				class="scroll-container"
				ref="scroll-container">
				<li
					class="row"
					v-for="(msg, index) in allMsgList"
					:key="index"
					:data-index="index"
					:data-tid="msg.tid"
				>

					<!-- 患者消息 -->
					<div
						v-if="msg.is_self_msg"
						:style="msg.load_msg_animate ? {'--delay': delayFn(index)}:{animation: 'none'}"
						class="msg-line r-msg-line"
						:data-tdate="msg.tdate | f_GetTime('YYYY-MM-DD HH:mm')">
						<!--<p class="username">{{ msg.from_user_name || otherProps['doctor-name'] }}</p>-->
						<p class="username">{{ C_SelfInfo.username }}</p>
						<div class="chat-cont-layout">
							<span class="error-loading" v-show="msg.is_send_err">!</span>
							<div v-if="msg.type === 0" class="msg-content pd-30"
								:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
								<pre class="pre">{{ msg.mcontent }}</pre>
							</div>

							<!--卡片-->
							<template v-if="msg.interactive_area_list && msg.interactive_area_list.length">
								<!--链接式交互-->

								<div class="fenxiang pd-30"
									:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
									<div class="fenxiang-content">
										<span class="title">{{ msg.title }} -- </span>
										{{ msg.mcontent }}
									</div>
									<span class="fenxiang-link"
										v-if="msg.interactive_area_list.length > 1"
									>
									<span
										@click.prevent="lookDetailLink(msg.interactive_area_list[1].link_url)"
									>{{ msg.interactive_area_list[1].text }}</span>
								</span>
									<span class="fenxiang-link"
										v-else>
									<span
										@click.prevent="lookDetailLink(msg.interactive_area_list[0].link_url)"
									>{{ msg.interactive_area_list[0].text }}</span>
								</span>
								</div>
							</template>

							<div v-if="msg.type === 8" class="img-text"
								:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
								<img :src="msg.image_url" style="width: 56px; height: 122.5px;"
									class="content-img" @click="viewImage(msg.image_url)" />
							</div>
							<div class="pic-layout">
								<img class="pic-img" :src="C_SelfInfo.pic" />
							</div>
						</div>
					</div>
					<!-- 系统消息 -->
					<div
						v-else-if="msg.is_sys_msg"
						:style="!msg.load_msg_animate ? {animation: 'none'}:{'--delay': delayFn(index)}"
						class="msg-line m-msg-line">
						{{ msg.mcontent }}
					</div>
					<div
						:style="msg.load_msg_animate ? {'--delay': delayFn(index)}:{animation: 'none'}"
						class="msg-line l-msg-line"
						v-else
						:key="index"
						:data-tdate="msg.tdate | f_GetTime('YYYY-MM-DD HH:mm')">
						<!--头像-->
						<p class="username">{{ C_OtherInfo.username }}</p>
						<div class="chat-cont-layout">
							<div class="pic-layout">
								<img class="pic-img" :src="C_OtherInfo.pic" />
							</div>

							<!--链接交互-->
							<template v-if="msg.interactive_area_list && msg.interactive_area_list.length">
								<!--链接式交互-->

								<div class="fenxiang pd-30"
									:class="{'theme-loading': (msg.is_pre_send && !msg.is_send_err && preSendLoading)}">
									<div class="fenxiang-content">
										<span class="title">{{ msg.title }} -- </span>
										{{ msg.mcontent }}
									</div>
									<span class="fenxiang-link"
										v-if="msg.interactive_area_list.length > 1"
									>
									<span
										@click.prevent="lookDetailLink(msg.interactive_area_list[1].link_url)"
									>{{ msg.interactive_area_list[1].text }}</span>
								</span>
									<span class="fenxiang-link"
										v-else>
									<!--@click.prevent="lookDetail(msg.interactive_area_list, msg.interactive_area_list[0].text)"-->
									<span
										@click.prevent="lookDetailLink(msg.interactive_area_list[0].link_url)"
									>{{ msg.interactive_area_list[0].text }}</span>
								</span>
								</div>
							</template>
							<!--文本-->
							<template v-else>
								<!--<img class="pic-img"-->
								<!--	src="https://static.ishenzang.com/static/ko/miniApp/ant/chat/doctor_pic.png"/>-->
								<div v-if="msg.type === 0" class="msg-content pd-30">

									<pre class="pre">{{ msg.mcontent }}</pre>
								</div>

							</template>

							<!--图片 预览图片 - previewImage-->
							<div v-if="msg.type === 8" class="img-text">
								<img :src="msg.image_url" style="width: 56px; height: 122.5px;"
									class="content-img" @click="viewImage(msg.image_url)" />
							</div>
						</div>
					</div>
				</li>
			</refresh-more>
		</ul>
		<div
			class="newpm flash"
			@click="lookNewMsgFn"
			v-show="newMsgFlag.isNew"
		>
			您有新的消息点击查看
		</div>
		<footer class="handle-area" id="footer">
			<div class="more-send-fn" ref="more-send-fn" v-show="!c_isDisabled">
				<expand-fn :send-other-type-msg="handleSendDialogMessage" :theme="theme" />
			</div>
			<div class="input-w" ref="input-w">
				<div class="input">
					<van-field
						v-model.trim="localMsg"
						rows="1"
						id="input-"
						autosize
						type="textarea"
						:disabled="c_isDisabled"
						:placeholder="c_isDisabled ? '对话已关闭':'说点什么吧...'"
					/>
				</div>
				<div :class="{'send': true, 'disabled': (!localMsg || isBeingSent)}" @click="sendMsgFn">
					<span />
				</div>

			</div>
		</footer>
	</div>
</template>

<script>
import RefreshMore from '_c/main/refresh-more/refresh-more';
import { uploadTime } from '@/libs/dateFormater';
import mixin from './chat-lib';
import ExpandFn from './components/expand-fn/expand-fn';

/**
 * 并集
 * @param source     {[string]}     目标
 * @param target     {[string]}     资源
 * @return  {Array}              两者中不存在的数据
 */
const handleUnionSetData = (source, target) => {
	return source.concat(target.filter(v => !(source.indexOf(v) > - 1)));
}
const handleDiffData = (source, target) => {
	return source.filter(v => target.indexOf(v) === - 1)
}
export default {
	name: "chat",
	components: { ExpandFn, RefreshMore },
	mixins: [mixin],
	props: {
		/**
		 * 自己消息来源类型, 如果不是组件引入 自行修改默认值
		 * @desc 如果自己发的消息类型有多种 请传递Array
		 */
		self_msg_type: {
			type: [Number, Array],
			require: true
		},
		// 系统消息来源类型, 如果不是组件引入 自行修改默认值
		sys_msg_type: {
			type: Number,
			require: false
		},
		// 打开对话API的请求参数
		openDialogParams: {
			type: Object,
			require: false
		},
		// 打开对话 API
		OpenDialogApi: {
			type: [Function, undefined],
			required: false
		},
		// 获取对话记录 API
		GetMsgListApi: {
			type: Function,
			required: true
		},
		// 发送消息 API
		SendMsgApi: {
			type: [Function, undefined],
			required: false
		},
		// 撤回消息
		WithDrawMsg: {
			type: [Function, undefined],
			required: false
		},
		/**
		 * 自身信息(自己)
		 * @type selfInfo    {{ pic: string, username: string }}    自身信息
		 */
		selfInfo: Object,
		/**
		 * 交谈者信息(对方)
		 * @type selfInfo    {{ pic: string, username: string }}    交谈者信息
		 */
		otherInfo: Object,
		// 是否可以聊天
		canChat: {
			type: Boolean,
			default: true,
			require: false
		},
		// 主题色, 适用于自己消息背景, 以及加载颜色
		theme: {
			type: String,
			default: '#eb8e45',
			require: false
		},
		// 是否开启消息动画
		hasMsgAnimate: {
			type: Boolean,
			default: true,
			require: false
		},
		hasMsgDelayAnimate: {
			type: Boolean,
			default: true,
			require: false
		},
		// 预发送(提升用户体验)
		isPreSend: {
			type: Boolean,
			default: true,
			require: false
		}
	},
	data() {
		return {
			styleInfo: {
				chatTip: {
					offsetHeight: ''
				}
			},
			showFirstLoad: false,
			pagesize: 30,
			refreshTime: 25 * 1000,
			dialog_tid: '',
			C_SelfInfo: {
				username: '',
				pic: ''
			},
			C_OtherInfo: {
				username: '',
				pic: 'https://static.ishenzang.com/static/ko/miniApp/ant/chat/doctor_pic.png'
			},
			dialog_tip: '',
			// 轮询定时器
			forTimer: null,
			allMsgList: [],
			localMsg: '',
			hisMsgLen: null,
			lastTid: '',
			newMsgFlag: {
				isNew: false,
				// 是否发送消息了
				isSent: false
			},
			// 是否正在获取消息
			isGettingMsg: false,
			// 消息发送中
			isBeingSent: false,
			// 禁止输入
			isDisabled: false,
			// 预发送加载
			preSendLoading: false
		}
	},
	computed: {
		// 自定义props
		otherProps() {
			return this.$attrs
		},
		c_isDisabled: {
			get() {
				return this.isDisabled
			},
			set() {}
		}
	},
	watch: {
		selfInfo(info) {
			info.username && (this.C_SelfInfo.username = info.username)
			info.pic && (this.C_SelfInfo.pic = info.pic)
		},
		otherInfo(info) {
			info.username && (this.C_OtherInfo.username = info.username)
			info.pic && (this.C_OtherInfo.pic = info.pic)
		},
		isPreSend: {
			immediate: true,
			handler(flag) {
				this.$set(this, 'preSendLoading', flag)
			}
		}
	},
	created() {
		this.hisMsgLen = this.pagesize
		setTimeout(() =>{
			this.handleOpenDialog(null)
			this.forTimer = setInterval(() => {
				this.handleGetDialogMessagePageListByLT(1)
			}, this.refreshTime)
		}, 400)
	},
	beforeDestroy() {
		clearTimeout(this.forTimer)
	},
	methods: {
		// 下拉加载
		async onRefresh(done) {
			if(this.allMsgList.length <= 0) return
			await this.handleGetDialogMessagePageListByLT(- 1)
			this.$refs['scroll-container'].scrollToFn('to_view')
			done()
		},
		// 开启对话
		async handleOpenDialog(load_msg_mode) {
			try {
				if(!this.openDialogParams || !Object.keys(this.openDialogParams).length) {
					throw '缺少 openDialog 请求参数, 请检查是否有 prop: openDialogParams'
				}
				this.showFirstLoad = load_msg_mode === null
				let data = await this.OpenDialogApi(this.openDialogParams)
				if(!data) return
				let dialogData = data.data
				this.dialog_tid = dialogData.tid
				this.dialog_tip = dialogData.dialog_tip
				// this.isDisabled = this.canChat && dialogData.state === 1
				this.isDisabled = false
				this.$nextTick(() => {
					if(this.$refs.chatTip) {
						this.styleInfo.chatTip.offsetHeight = this.$refs.chatTip.offsetHeight
					}
				})
				// this.customerinfo = dialogData.customerinfo
				await this.handleGetDialogMessagePageListByLT(load_msg_mode)
				this.showFirstLoad = false
				this.$emit('getDialogInfo', dialogData)
			} catch (e) {
				this.showFirstLoad = false
				// 打开对话失败
				this.$emit('on-open-dialog-err')
			}
		},
		/**
		 * 获取消息
		 * @param load_msg_mode [-1:下拉加载, 1:循环加载, null: 首次加载] 消息加载模式
		 * @desc load_msg_mode 默认 正常加载滚动到底部
		 */
		async handleGetDialogMessagePageListByLT(load_msg_mode) {
			this.isGettingMsg = true
			// console.log(load_msg_mode)
			// dialog_tid: ''
			if(!this.dialog_tid) {
				// this.$message.warning('请先打开对话')
				console.error('请先打开对话')
				return
			}
			let diff = []
			let responsedata = {
				dialog_tid: this.dialog_tid,
				pagesize: this.pagesize,
				message_tid: load_msg_mode === - 1 ? this.allMsgList[0] && this.allMsgList[0].tid : undefined
			}
			let { data: msgList } = await this.GetMsgListApi(responsedata)

			// eslint-disable-next-line require-atomic-updates
			msgList = await this.handleMsgKeyFn(msgList)
			if(load_msg_mode === - 1) {
				this.hisMsgLen = msgList && msgList.length || 0
				this.allMsgList = this.handleAnimateFn(msgList.concat(this.allMsgList), false)
			} else if(load_msg_mode === 1) {
				this.allMsgList = this.handleAnimateFn(this.allMsgList, false)
				// console.log(msgList, this.allMsgList, '对比数据')
				let tmpAllMsg = this.allMsgList
				this.all = this.allMsgList
				tmpAllMsg = handleUnionSetData(tmpAllMsg.map(item => item.tid), msgList.map(item => item.tid))
				// 找出差异(不存在的消息)
				diff = handleDiffData(tmpAllMsg, this.allMsgList.map(item => item.tid))
				// console.log(msgList, this.all, diff, '对比数据 -- 2')

				if(diff.length) {
					// console.log('有新消息 -- 处理数据')
					diff = msgList.filter(item => diff.includes(item.tid))

					this.allMsgList = this.allMsgList.concat(
						this.handleAnimateFn(diff)
					)
						.sort((a, b) => (a.tdate - 8 * 3600) * 1000 - (b.tdate - 8 * 3600) * 1000)
					// console.log(this.allMsgList, '消息处理后的  allMsgList')
				}
			} else {
				this.allMsgList = this.handleAnimateFn(msgList)
				this.$nextTick(() => {
					this.$refs['scroll-container'].scrollToFn('bottom')
				})
			}
			if(diff.length && !this.newMsgFlag.isSent) {
				// 处理滚动条
				this.$nextTick(() => {
					let scrollContainer = document.querySelector('.refresh-more-container')
					this.newMsgFlag.isNew =
						(scrollContainer.scrollTop < scrollContainer.scrollHeight / 2)
						&&
						scrollContainer.offsetHeight + 300 < scrollContainer.scrollHeight
					if(this.newMsgFlag.isNew) return
					if(!msgList[msgList.length - 1].is_self_msg) {
						this.$refs['scroll-container'].scrollToFn('bottom')
					}
				})
			}
			if(this.newMsgFlag.isSent) {
				this.$nextTick(() => {
					this.$refs['scroll-container'].scrollToFn('bottom')
					this.newMsgFlag.isSent = false
					this.newMsgFlag.isNew = false
				})
			}
			this.isGettingMsg = false
			let picHash = {}
			let picArr = []
			this.getImageUrl(this.allMsgList, 'image')
				.then(data => {
					this.allMsgList = data
				})
			if(!this.C_SelfInfo.pic || !this.C_OtherInfo.pic) {

				// TODO: 待处理头像[从 对话中拿到头像数据]
				picArr = this.allMsgList.reduce((arr, item) => {
					if(!picHash[item.from_type + ''] && item.from_type !== this.sys_msg_type) {
						picHash[item.from_type + ''] = true
						if(!item.from_userinfo) return arr
						item.from_userinfo.is_self = item.is_self_msg
						arr.push(item.from_userinfo)
					}
					return arr
				}, [])
				console.log(picArr, 'picArr')
				if(picArr.length) {
					let picArrData = await this.getImageUrl(picArr, 'pic')
					if(!this.C_SelfInfo.pic) {
						this.C_SelfInfo.pic = picArrData.find(item => item.is_self).pic_url
					}
					if(!this.C_OtherInfo.pic) {
						this.C_OtherInfo.pic = picArrData.find(item => !item.is_self).pic_url
					}
				}
			}
		},
		/**
		 * 处理消息 key[不处理图片]
		 * @param msgList {Array} 消息列表
		 * @return msgList {Array} 处理后的消息
		 */
		async handleMsgKeyFn(msgList) {
			return msgList.map(msg => {
				if(msg.from_userinfo) {
					msg.from_user_name = msg.from_userinfo.username
				}
				if(typeof this.self_msg_type === 'number') {
					msg.is_self_msg = msg.from_type === this.self_msg_type
				} else {
					msg.is_self_msg = this.self_msg_type.includes(msg.from_type)
				}
				msg.is_sys_msg = msg.from_type === this.sys_msg_type
				return {
					...msg,
					image: msg.images ? JSON.parse(msg.images)[0] : ''
				}
			})
		},
		/**
		 * 发送消息
		 * @param sendData {object} 待发送的消息体
		 */
		async handleSendDialogMessage(sendData) {
			// console.log(sendData, 'sendData')
			if(!sendData.dialog_tid) {
				sendData.dialog_tid = this.dialog_tid
			}
			let handledData = this.preSendFn(sendData)
			this.isBeingSent = true
			try {
				let { data } = await this.SendMsgApi(sendData)
				data = await this.handleMsgKeyFn([data])
				data = data[0]
				this.newMsgFlag.isSent = true
				this.isBeingSent = false
				if(this.isPreSend) {
					handledData.is_pre_send = false
					handledData.is_send_err = false

					const index = this.allMsgList.findIndex(item => item.tid === handledData.tid)
					this.$set(this.allMsgList, index, Object.assign(handledData, data))
					// console.log(this.allMsgList, '发送消息后 -- allMsgList')

				} else {
				}
				this.preSendLoading = false
				// 预发送处理
				// if (this.isPreSend) return

			} catch (e) {
				console.log(e)
				this.$message.error('发送失败 请重试')
				this.allMsgList = this.allMsgList.map(item => {
					return {
						...item,
						is_send_err: item.is_send_err ? item.is_send_err : item.tdate === handledData.tdate
					}
				})
				console.log(this.allMsgList, '处理失败')
				this.preSendLoading = false
				this.newMsgFlag.isSent = false
				this.isBeingSent = false
			}
			clearInterval(this.forTimer)
			this.forTimer = setInterval(() => {
				this.handleGetDialogMessagePageListByLT(1)
			}, this.refreshTime)
			await this.handleGetDialogMessagePageListByLT(1)
		},
		// 预请求
		preSendFn(pre_send_data) {
			if(!this.isPreSend) return
			this.preSendLoading = true
			let tmpData = {
				tid: Number(Math.random()
					.toString()
					.substr(3, 6) + Date.now())
					.toString(22),
				...pre_send_data,
				tdate: uploadTime(new Date().valueOf()),
				is_self_msg: true,
				is_pre_send: true
			}
			this.allMsgList.push(tmpData)
			this.$refs['scroll-container'].scrollToFn('bottom')
			return tmpData
		},
		//发送消息
		sendMsgFn() {
			if(!this.localMsg.trim()) return
			if(this.isBeingSent) return
			let sendData = {
				dialog_tid: this.dialog_tid,
				mcontent: this.localMsg,
				type: 0
			}
			this.handleSendDialogMessage(sendData)
			this.localMsg = ''
		},

		lookNewMsgFn() {
			this.$refs['scroll-container'].scrollToFn('bottom')
			this.newMsgFlag.isNew = false
		},
		lookDetailLink(link) {
			window.open(link)
		}

	}

}
</script>

<style lang="less" scoped>
@import "chat";
</style>
