<template>
	<div class="home container">
		<van-button @click="toggleActionSheet">
			动作面板
		</van-button>

		<iframe
			v-if="show"
			src="http://192.168.1.113:8081/webview/record/test/?code=e05aa7cff5986213&code_type=1"
		/>

		<van-button @click="nextPage">下一页</van-button>
		<van-button @click="openWin">新页面</van-button>
		<van-button @click="sendMsg">发送消息</van-button>


		<van-action-sheet
			v-model="actionSheetInfo.visible"
			:actions="actionSheetInfo.actions"
			@click-overlay="clickOverlayByActionSheet"

			@select="onSelect"
		/>
		<van-popup v-model="popupInfo.visible">
			popup
		</van-popup>
	</div>
</template>
<script>


import moment from 'moment';

export default {
	data() {
		return {
			show: false,
			actionSheetInfo: {
				visible: false,
				actions: [{ name: '选项一' }, { name: '选项二' }, { name: '选项三' }]
			},
			popupInfo: {
				visible: false
			}
		};
	},
	created() {
		// this.$PostMessage.subscribe('ready', (e) =>{
		// 	e.push('get_time', +new Date)
		// 	// console.log(e)
		// 	// e.source.postMessage('ssssssssssssssssssss')
		// })
		this.$PostMessage.subscribe('get_time', (e) =>{
			e.push('get_times', moment().format('llll'))
		})
	},
	watch: {

	},
	methods: {
		nextPage() {
			this.$RouteManager.setHome()
			this.$router.push({ name: 'page-1' })
		},
		openWin() {
			// localStorage.setItem('userAgent', +new Date)
			this.show = true
			return
			let a = window.open('http://192.168.1.113:8081/webview/record/test/?code=e05aa7cff5986213&code_type=1')
			console.log(a)
			a.postMessage({ action: 'test', data: '1111' })
			a.parent.postMessage({ action: 'test', data: '1111' })
			// window.postMessage({ action: 'test', data: '1111' })
		},
		sendMsg(){

			// this.$PostMessage.subscribe('ready', (e) =>{
			// 	e.push('get_time', +new Date)
			// })
		},
		toggleActionSheet() {
			this.actionSheetInfo.visible = true
		},
		clickOverlayByActionSheet() {
			// window.HandleBack.remove({ flag: 'action-sheet-flag' })
		},
		onSelect() {
			// window.HandleBack.push({ flag: 'popup-flag' }, (e) =>{
			// 	console.log(e, 'popup')
			// 	this.popupInfo.visible = false
			// })
			this.popupInfo.visible = true
		}
	}
};
</script>
<style lang="less" scoped>
</style>
