<template>
	<div class="page-3">
		page-3
		<van-button @click="$RouteManager.backHome()">返回首页</van-button>
		<van-button @click="$RouteManager.backByName('page-1')">返回 page-1</van-button>
	</div>
</template>

<script>
export default {
	// page-3
	name: "page-3"
}
</script>

<style lang="less" scoped>

</style>
