<template>
	<div class="page-1">
		page-1
		<van-button @click="$router.push({ name: 'page-2' })">下一页</van-button>
		<van-button @click="$router.replace({ name: 'page-1' })">重定向</van-button>
	</div>
</template>

<script>
export default {
	// 测试页面1
	name: "page-1"
}
</script>

<style lang="less" scoped>

</style>
