<script>
import wx from 'weixin-js-sdk'
import { GenerateShareFriendSignInfo } from '@/api/wx';
import { baseRoute } from '@/settings';
export default {
	//
	name: "test-2",
	render(h, context) {
		return h('div', {
			style: {
				height: '100px',
				width: '110px',
				background: 'red'
			}
		}, [
			h('span', '立即使用2'),
			h("wx-open-launch-weapp", {
					attrs: {
						id: "launch-btn",
						username: "gh_4141bb5f7d61",
						path: 'pages/my-devices/my-devices.html'
					}
				},
				[
					h("script", {
						attrs: {
							type: "text/wxtag-template"
						}
					}, `<style> .must{ width: 120px; height: 40px; } </style> <div class="must" style="width: 120px;height: 40px;"></div>`)
				], 1212)
		])
	},
	created() {
		let url =
			window.location.protocol +
			"//" +
			window.location.host +
			"/" + baseRoute + "" +
			this.$route.fullPath;
		url = url.split("#")[0];
			console.log('开始')
		this.openMiniApp(url, ({ code, message }) => {
			console.log('回调')
		})
	},
	methods: {
		/**
		 * 显示H5 跳转 小程序
		 * @param url  {string}
		 * @param cb   {listenerWxOpenMiniApp}
		 */
		async openMiniApp(url, cb) {
			let wechat = navigator.userAgent.match(/MicroMessenger\/([\d\\.]+)/i)

			let { data } = await GenerateShareFriendSignInfo({ path: url })
			if(wechat) {
				let judgewechat = wechat[1].split('.')
				if(!(judgewechat[0] >= 7 && judgewechat[1] >= 0 && judgewechat[2] >= 12)){
					cb && cb({
						code: -1,
						message: '微信版本 不支持此功能, 请升级至最新版本'
					})
					return
				}
			}
			wx.config({
				debug: false,
				appId: data.appid, // 必填，公众号的唯一标识
				timestamp: data.timestamp, // 必填，生成签名的时间戳
				nonceStr: data.noncestr, // 必填，生成签名的随机串
				signature: data.signature, // 必填，签名
				jsApiList: ['updateAppMessageShareData'], // 必填，需要使用的JS接口列表
				openTagList: ['wx-open-launch-weapp']
			});

			wx.ready(() => {
				cb && cb({
					code: 1,
					message: ''
				})
			})
			wx.error((error) => {
				cb && cb({
					code: 1,
					message: '',
					error
				})
			})
		}
	}
}
</script>

<style lang="less" scoped>

</style>
