.van-nav-bar__left() {
	left: 0;
}
.van-nav-bar__title() {
	flex: 1;
	max-width: 76%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-bar() {
	&.van-hairline--top-bottom:after {
		all: unset;
	}
	background-color: #fafafa !important;

	& > div:first-child {
		.van-nav-bar__left()
	}

	.van-nav-bar__left {
		.van-nav-bar__left()
	}

	& > div:nth-of-type(2) {
		.van-nav-bar__title();
	}
	.van-nav-bar__title {
		.van-nav-bar__title()
	}
}
//.van-popup {
//	padding: 26px 16px;
//	-webkit-box-sizing: border-box;
//	-moz-box-sizing: border-box;
//	box-sizing: border-box;
//}
/* 安全区域适配 */
.safe-area-inset {
	&-top{
		padding-top: constant(safe-area-inset-top);
		padding-top: env(safe-area-inset-top);
	}
	&-bottom{
		padding-bottom: constant(safe-area-inset-bottom);
		padding-bottom: env(safe-area-inset-bottom);
	}
}
