<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalabel=0" />
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <title> </title>
</head>
<style>
  * {
    margin: 0;
  }

  html,
  body {
    height: 100%;
    background-color: #fff;


  }
</style>

<body>
  <noscript>
    <strong>We're sorry but <%= webpackConfig.name %> doesn't work properly without JavaScript enabled.
      Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>
<!--<script src="//cdn.bootcdn.net/ajax/libs/eruda/2.3.3/eruda.js"></script>-->
<!--<script>-->
<!--eruda.init()-->
<!--eruda.get("console").config.set("displayGetterVal",!0)-->
<!--</script>-->
<script>
// eruda.init();
;(function () {
	var src = '//cdn.jsdelivr.net/npm/eruda';
	if (!/testTool=true/.test(window.location)) return;
	document.write('<scr' + 'ipt src="' + src + '"></scr' + 'ipt>');
	document.write('<scr' + 'ipt>eruda.init();</scr' + 'ipt>');
})();
</script>
</html>
