<template>
	<div class="basic-info">
		<div>
			<van-cell title="基本信息" title-class="bolder blue-theme fz-17" :border="false"/>
			<van-cell-group>
				<van-cell title="性别" center size="large">
					<div class="gender-container flex-layout flex-end">
						<p :class="{'active-m': subInfo.gender === 'm'}" @click="subInfo.gender = 'm'">男</p>
						<p :class="{'active-f': subInfo.gender === 'f'}" @click="subInfo.gender = 'f'">女</p>
					</div>
				</van-cell>
				<van-field
					size="large"
					v-model.number="subInfo.age"
					label="年龄"
					input-align="right"
					placeholder="点击填写"
					type="digit"
					maxlength="2"
				>
					<span slot="right-icon">岁</span>岁
				</van-field>
				<van-field
					v-model.number="subInfo.height"
					size="large"
					type="number"
					label="身高"
					center
					input-align="right"
					placeholder="点击填写"
				>
					<span slot="right-icon">cm</span>
				</van-field>
				<van-field
					v-model.number="subInfo.weight"
					size="large"
					label="体重"
					type="number"
					center
					input-align="right"
					placeholder="点击填写"
				>
					<span slot="right-icon">kg</span>
				</van-field>
			</van-cell-group>
		</div>
		<div style="margin-top: 26%;" class="flex-layout flex-jcc">
			<van-button class="handle-btn-blue" @click="clickNext">下一步</van-button>
		</div>
		<!--<van-popup v-model="birthdayPicker.visible" round position="bottom">
			<van-datetime-picker
				class="van-picker__theme"
				v-model="birthdayPicker.date"
				type="date"
				title="选择年月日"
				:min-date="birthdayPicker.min_date"
				:max-date="birthdayPicker.max_date"
				@confirm="onConfirm"
				@cancel="birthdayPicker.visible = false"
			/>
		</van-popup>-->
	</div>
</template>

<script>
import { getTime, uploadTime } from '@/libs/dateFormater';
import moment from 'moment';
import { cloneObj, isEmpty } from 'vue-blur-load/src/tools';

export default {
	// 基本信息
	name: "basic-info",
	props: {
		formData: Object
	},
	filters: {
		f_Birthday(v){
			return isEmpty(v) ? '请选择':moment().diff(getTime(v), 'year')
		}
	},
	data(){
		return {
			subInfo: {
				gender: null,
				age: '',
				height: '',
				weight: ''
			},
			birthdayPicker: {
				visible: false,
				date: moment().subtract(40, 'year').toDate(),
				max_date: moment().subtract(1, 'year').toDate(),
				min_date: moment().set('year', 1900).toDate()
			}
		}
	},
	watch: {
		formData(v){
			cloneObj(this.subInfo, v)
		}
	},
	methods: {
		clickBirthday(){
			this.birthdayPicker.visible = true
			this.birthdayPicker.date = new Date(getTime(this.subInfo.age, 'YYYY/MM/DD'))
		},
		onConfirm(v){
			this.birthdayPicker.visible = false
			this.subInfo.age = uploadTime(v)
		},
		clickNext(){
			if(isEmpty(this.subInfo.gender)){
				this.$toast('请完善【性别】')
				return
			}
			if(isEmpty(this.subInfo.age)){
				this.$toast('请完善【年龄】')
				return
			}
			if(+this.subInfo.age < 0 || +this.subInfo.age >= 200){
				this.$toast('请检查【年龄】')
				return
			}

			if(isEmpty(this.subInfo.height)){
				this.$toast('请完善【身高】')
				return
			}
			if(+this.subInfo.height <= 0 || +this.subInfo.height > 500){
				this.$toast('请检查【身高】')
				return
			}

			if(isEmpty(this.subInfo.weight)){
				this.$toast('请完善【体重】')
				return
			}
			if(+this.subInfo.weight <= 0 || +this.subInfo.weight >= 500){
				this.$toast('请检查【体重】')
				return
			}

			this.$emit('on-click-next', { index: 0, data: this.subInfo })
		}
	}
}
</script>

<style lang="less" scoped>
::v-deep{
	.van-cell__title, .van-field__right-icon{
		color: #404040;
	}
}
.m0-auto{
	margin: 0 auto;
}
.gender-container{
	p{
		width: 28px;
		height: 28px;
		line-height: 28px;
		border-radius: 50%;
		font-size: 18px;
		text-align: center;
		color: #fff;
		margin: 6px;
		transition: box-shadow 0.3s;
		&:first-child{
			background: #8cb5e5;
			margin-right: 16px;
		}
		&.active-m{
			box-shadow: 0 0 0 2px #fff, 0 0 0 4px #8cb5e5;
		}
		&.active-f{
			box-shadow: 0 0 0 2px #fff, 0 0 0 4px #f3c6c8;
		}
		&:last-child{
			background: #f3c6c8;
		}
	}
}
</style>
