<template>
	<div class="condition-info">
		<div>
			<!--<p class="condition-tit blue-theme bolder">病情状况</p>-->
			<van-cell size="large" title="病情状况" title-class="bolder blue-theme fz-17" :border="false"/>
			<van-cell-group>
				<van-field
					size="large"
					type="number"
					v-model.number="subInfo.cr"
					input-align="right"
					placeholder="点击填写"
					label="血肌酐"
					label-width="7em"
				>
					<div slot="right-icon">
						<van-button
							class="mr-10"
							size="small"
							round
							:plain="subInfo.crunit !== 0"
							color="#4884F5"
							@click="subInfo.crunit = 0"
						>
							umol/L
						</van-button>
						<van-button
							size="small"
							round
							:plain="subInfo.crunit !== 1"
							color="#4884F5"
							@click="subInfo.crunit = 1"
						>
							mg/dl
						</van-button>
					</div>
				</van-field>
				<van-field
					size="large"
					type="number"
					v-if="subInfo.hasurineprotein"
					v-model.number="subInfo.tfurineprotein"
					input-align="right"
					placeholder="点击填写"
					label="24小时尿蛋白"
					label-width="7em"
				>
					<div slot="right-icon">
						<van-button
							class="mr-10"
							size="small"
							round
							:plain="subInfo.tfurineproteinunit !== 0"
							color="#4884F5"
							@click="subInfo.tfurineproteinunit = 0"
						>
							g/24h
						</van-button>
						<van-button
							size="small"
							round
							:plain="subInfo.tfurineproteinunit !== 1"
							color="#4884F5"
							@click="subInfo.tfurineproteinunit = 1"
						>
							mg/24h
						</van-button>
					</div>
				</van-field>
				<van-cell
					v-else
					size="large"
					title="尿蛋白"
					is-link
					@click="uproActionSheet.visible = true"
					:value="optionsConfig.f_Upro(subInfo.urineprotein) || '请选择'"
				>
					<div slot="right-icon">
						{{ optionsConfig.f_UproUnit(subInfo.urineprotein) }}
					</div>
				</van-cell>
				<van-cell
					size="large"
					:title="`${subInfo.hasurineprotein ? '没有':'有'}24小时尿蛋白检查结果`"
					title-class="blue-theme text-underline"
					:border="false"
					@click="subInfo.hasurineprotein = subInfo.hasurineprotein === 0 ?1:0"
				/>
			</van-cell-group>
		</div>
		<div style="margin-top: 26%;" class="flex-layout flex-jcsa">
			<van-button class="handle-btn-blue is-plain" @click="$emit('on-click-prev')">上一步</van-button>
			<van-button class="handle-btn-blue" @click="clickNext">下一步</van-button>
		</div>
		<van-action-sheet
			v-model="uproActionSheet.visible"
			:actions="uproActionSheet.list"
			@select="onSelect"
		/>
	</div>
</template>

<script>

import { cloneObj, deepClone, isEmpty } from 'vue-blur-load/src/tools';
const optionsConfig = {
	upro_list: [
		{ name: '阴性', value: 0, unit: '(0.1g/d)' },
		{ name: '+', value: 1, unit: '(0.5g/d)' },
		{ name: '++', value: 2, unit: '(1g/d)' },
		{ name: '+++', value: 3, unit: '(2g/d)' },
		{ name: '++++', value: 4, unit: '(2g/d)' },
		{ name: '±', value: 5, unit: '(0.3g/d)' },
	],
	f_Upro(v) {
		let find = this.upro_list.find(({ value }) => value === v)
		return find && find.name || ''
	},
	f_UproUnit(v) {
		let find = this.upro_list.find(({ value }) => value === v)
		return find && find.unit || ''
	},
}

export default {
	// 病情状况
	name: "condition-info",
	props: {
		formData: Object
	},
	data() {
		return {
			optionsConfig,
			unitInfo: {
				is_upro24_g: true,
				is_screa_umol: true
			},
			uproActionSheet: {
				visible: false,
				list: optionsConfig.upro_list
			},
			subInfo: {
				cr: '',
				crunit: null,
				tfurineproteinunit: null,
				// 是否有 24小时尿蛋白
				hasurineprotein: 1,
				tfurineprotein: '',
				urineprotein: ''
			}
		}
	},
	watch: {
		formData: {
			immediate: true,
			handler(v) {
				this.unitInfo.is_upro24_g = false
				this.unitInfo.is_screa_umol = false
				cloneObj(this.subInfo, v)
			}
		}
	},
	methods: {
		onSelect({ value }) {
			this.subInfo.urineprotein = value
			this.uproActionSheet.visible = false
		},
		clickNext() {
			let data = deepClone(this.subInfo)
			let { cr, urineprotein, tfurineprotein, crunit, tfurineproteinunit } = data
			// data.hasurineprotein = +data.hasurineprotein
			if(isEmpty(crunit)){
				this.$toast('请选【血肌酐】单位')
				return;
			}

			if (isEmpty(cr)) {
				this.$toast('请选【血肌酐】')
				return
			}


			if (data.crunit === 0) {
				if (cr > 10000) {
					this.$toast('【血肌酐】请检查单位')
					return;
				}
				if (cr < 10) {
					this.$toast('【血肌酐】请检查单位')
					return;
				}
			} else {
				if (cr > 114) {
					this.$toast('【血肌酐】请检查单位')
					return;
				}
				if (cr <= 0) {
					this.$toast('【血肌酐】请检查单位')
					return;
				}
				// data.cr = Math.round(data.cr * 88.4)
			}

			if (data.hasurineprotein) {
				if(isEmpty(tfurineproteinunit)){
					this.$toast('请选【24小时尿蛋白】单位')
					return;
				}

				if (isEmpty(tfurineprotein)) {
					this.$toast('请完善【24小时尿蛋白】')
					return
				}

				if (data.tfurineproteinunit === 1) {
					if (tfurineprotein > 50000) {
						this.$toast('【24小时尿蛋白】请检查单位')
						return;
					}
					if (tfurineprotein < 10) {
						this.$toast('【24小时尿蛋白】请检查单位')
						return;
					}
				} else {
					if (tfurineprotein > 50) {
						this.$toast('【24小时尿蛋白】请检查单位')
						return;
					}
					if (tfurineprotein < 0.01) {
						this.$toast('【24小时尿蛋白】请检查单位')
						return;
					}
					// data.tfurineprotein = Math.round(data.tfurineprotein / 1000)
				}
				delete data.urineprotein
			} else {
				if (isEmpty(urineprotein)) {
					this.$toast('请完善【尿蛋白】')
					return
				}
				delete data.tfurineprotein
			}
			this.$emit('on-click-next', { data })
		}
	}

}
</script>

<style lang="less" scoped>
.condition-tit {
	margin-top: 10px;
	margin-left: 17px;
	margin-bottom: 20px;
}

.text-underline {
	text-decoration: underline;
	text-underline-position: under;
}
.condition-info{

	::v-deep {
		.van-field__control--right {
			width: 4em;
		}

		.van-field__body{
			flex-wrap: wrap;
			justify-content: flex-end;
		}

	}
}
</style>
