<template>
	<div class="treat-scheme">
		<div>
			<ul class="treat-scheme-card">
				<li><p class="treat-scheme-tit blue-theme bolder">治疗方案</p></li>
				<li>
					<p class="question-title">您当前在使用哪些药物？【可多选】</p>
					<question-group
						v-model="subInfo.druguselist"
						:options="optionConfig.druguselist"
						type="checkbox"
					/>
				</li>
				<li>
					<p class="question-title">您每月检查、治疗实际支付费用大概多少？</p>
					<question-group
						v-model="subInfo.charges"
						direction="horizontal"
						:options="optionConfig.charges"
						type="radio"
					/>
				</li>
				<li>
					<p class="question-title">您目前的医疗费用是如何解决的？【可多选】</p>
					<question-group
						v-model="subInfo.paymentlist"
						:options="optionConfig.paymentlist"
						type="checkbox"
					/>
				</li>
				<li>
					<p class="question-title">对您来说，当前检查、治疗费用是否偏高？</p>
					<question-group
						v-model="subInfo.costbeborne"
						:options="optionConfig.costbeborne"
						type="radio"
					/>
				</li>
			</ul>
		</div>
		<div class="flex-layout flex-jcsa">
			<van-button class="handle-btn-blue is-plain" @click="$emit('on-click-prev')">上一步</van-button>
			<van-button class="handle-btn-blue" @click="clickNext">下一步</van-button>
		</div>
	</div>
</template>

<script>
import QuestionGroup from '_v/questions/comp/question-group';
import { cloneObj, isEmpty } from 'vue-blur-load/src/tools';

export default {
	// 治疗方案
	name: "treat-scheme",
	props: {
		formData: Object
	},
	components: { QuestionGroup },
	data() {
		return {
			subInfo: {
				druguselist: [],
				charges: '',
				paymentlist: [],
				costbeborne: ''
			},
			optionConfig: {
				druguselist: [
					{ name: 1, label: '降压药' },
					{ name: 2, label: '糖皮质激素（泼尼松、甲泼尼松、甲泼尼龙等）' },
					{ name: 3, label: '免疫抑制剂（骁悉、环孢素、他克莫司、环磷酰胺等）' },
					{ name: 4, label: '生物制剂（美罗华等）' },
					{ name: 5, label: '中药免疫抑制剂（雷公藤等）' },
					{ name: 6, label: '中成药（金水宝、百令胶囊、肾炎康复片等）' },
					{ name: 7, label: '其他' }
				],
				charges: [
					{ name: 1, label: '1000元以内' },
					{ name: 2, label: '1000-2000元' },
					{ name: 3, label: '2000-3000元' },
					{ name: 4, label: '3000元以上' }
				],
				paymentlist: [
					{ name: 1, label: '社保' },
					{ name: 2, label: '个人自费' },
					{ name: 3, label: '城乡居民医保（含新农合）' },
					{ name: 4, label: '企业商业保险报销' },
					{ name: 5, label: '个人商业保险报销' }
				],
				costbeborne: [
					{ name: 1, label: '太高，根本承受不起' },
					{ name: 2, label: '偏高，但可以接受' },
					{ name: 3, label: '一般，不算高' },
					{ name: 4, label: '完全可以承担' }
				]
			}
		}
	},
	watch: {
		formData: {
			immediate: true,
			handler(v) {
				cloneObj(this.subInfo, v)
			}
		}
	},
	methods: {
		clickNext() {
			let { druguselist, charges, paymentlist, costbeborne } = this.subInfo
			if (isEmpty(druguselist) || isEmpty(charges) || isEmpty(paymentlist) || isEmpty(costbeborne)) {
				this.$toast('请完善相关问题')
				return
			}
			this.$emit('on-click-next', { data: this.subInfo })
		}
	}
}
</script>

<style lang="less" scoped>
.treat-scheme {
	padding-bottom: 20px;

	&-tit {
		margin-bottom: 12px;
		font-size: 16px;
	}
}

.question-title {
	font-size: 17px;
}

.treat-scheme-card {
	border-radius: 13px;
	background: #fff;
	padding: 14px 22px 24px 24px;
	margin: 10px 10px 24px 10px;

	.question-title {
		font-weight: bolder;
		color: #333;
		margin-bottom: 20px;
	}
}
</style>
