<template>
	<div class="report">
		<div>
			<img src="http://static.ishenzang.com/static/ko/h5/insurance/financial_bg.jpg" alt=""
				v-if="$route.query.type === 'financial'">
			<img src="http://static.ishenzang.com/static/ko/h5/insurance/health_bg.jpg" alt="" v-else>
		</div>
		<div class="container" v-if="$route.query.type === 'financial'">
			<div class="content-plate">
				<p class="content-plate-tit">客户财务基础信息</p>
				<div class="content-plate-detail">
					<ul class="basic-info">
						<li v-for="(item, index) in patientInfo['financeinfolist']" :key="index">
							{{ item }}
						</li>
					</ul>
				</div>
			</div>
			<div class="content-plate" v-if="!isEmpty(patientInfo['financerisklist'])">
				<p class="content-plate-tit">财务风险解读：（规划师认为解读）</p>
				<div class="content-plate-detail">
					<div v-for="(item, index) in patientInfo['financerisklist']" :key="index">
						<p class="art-tit">{{ item.title }}</p>
						<article class="art-detail">
							<pre v-html="item.content"/>
						</article>
					</div>
				</div>
			</div>
			<div class="content-plate" v-if="!isEmpty(patientInfo['advicereportlist'])">
				<p class="content-plate-tit">专业建议</p>
				<div class="content-plate-detail">
					<div v-for="(item, index) in patientInfo['advicereportlist']" :key="index">
						<p class="art-tit">{{ item.title }}</p>
						<article class="art-detail">
							<pre v-html="item.content"/>
						</article>
					</div>
				</div>
			</div>
			<div class="content-plate">
				<p class="c3d3477 bolder mb-6">姓名：{{ patientInfo['workername'] }}</p>
				<p class="c3d3477 bolder">执业编号：{{ patientInfo['licenseno'] }}</p>
			</div>
		</div>
		<div class="container" v-else>
			<div class="content-plate">
				<p class="content-plate-tit">客户健康基础信息</p>
				<div class="content-plate-detail">
					<ul class="basic-info">
						<li v-for="(item, index) in patientInfo['healthinfolist']" :key="index">
							{{ item.title }}：{{ item.content }}
						</li>
					</ul>
				</div>
			</div>
			<div class="content-plate">
				<p class="content-plate-tit">健康风险解读：</p>
				<div class="content-plate-detail">
					<div v-for="(item, index) in patientInfo['healthrisklist']" :key="index">
						<p class="art-tit">{{ item.title }}</p>
						<article class="art-detail">
							<pre v-html="item.content"/>
						</article>
					</div>
				</div>
			</div>

		</div>
	</div>
</template>

<script>
import '../questions.less'
import { GetPatientByUnionId } from '_v/questions/api_questions';
import { isEmpty } from 'vue-blur-load/src/tools';
import { getShareSDK } from '@/libs/wxsdk';

export default {
	// 风险解读报告
	name: "report",
	data() {
		return {
			patientInfo: {
				worker: {}
			}
		}
	},
	created() {
		/**
		 * @property   {'financial'|'health'}
		 */
		let link = location.href.split("#")[0]/*.replace(/\??CACHEK=.{8}&?/, '')*/;
		let { type } = this.$route.query
		let obj = { link }
		switch (type) {
			case 'financial':
				obj.title = '财务风险解读'
				obj.desc = '根据您提供的信息我们对您的财务进行了初步风险评估'
				obj.img = 'http://static.ishenzang.com/static/ko/h5/insurance/report-financial_bg.jpg'
				break;
			case 'health':
				obj.title = '病情风险解读'
				obj.desc = '根据您提供的信息我们对您的病情进行了初步风险评估'
				obj.img = 'http://static.ishenzang.com/static/ko/h5/insurance/report-health.jpg'
				break;
		}
		getShareSDK(obj);
		this.handleGetPatientByUnionId()
	},
	methods: {
		isEmpty,
		async handleGetPatientByUnionId() {

			let { data } = await GetPatientByUnionId({
				unionid: this.$store.getters.loginData.unionid
			})
			data.info['financerisklist'] = (data.info['financerisklist'] || []).map(item => {
				item.content = item.content.replace(/\r\n/g, '<hr/>')
				item.content = item.content.replace(/\n/g, '<hr/>')
				return item
			})
			data.info['healthrisklist'] = (data.info['healthrisklist'] || []).map(item => {
				item.content = item.content.replace(/\r\n/g, '<hr/>')
				item.content = item.content.replace(/\n/g, '<hr/>')
				return item
			})
			this.patientInfo = data.info
			// .replace(/\r\n/g,'<hr />')
			// cloneObj(this.answerInfo, data.info)
		}
	}
}
</script>

<style lang="less" scoped>
img {
	width: 100%;
	//height: 204px;
	//object-fit: scale-down;
}

.container {
	padding: 32px 17px;

	.content-plate {
		margin-bottom: 33px;

		.content-plate-tit {
			font-weight: bolder;
			font-size: 18px;
			color: #3a3273;
			padding: 7px;
			background: #e8e4ff;
			margin-bottom: 25px;
		}

		.content-plate-detail {
			padding-left: 7px;
		}

		.art-tit {
			color: #3b3576;
			font-weight: bolder;
			margin-bottom: 26px;
		}

		.art-detail {
			line-height: 28px;
			margin-bottom: 30px;
			color: #000;
			pre{
				white-space: pre-wrap;
			}
		}

		::v-deep hr {
			border: none;
			height: 20px;
			display: block;
		}
	}
}

.basic-info {
	padding-left: 24px;

	li {
		line-height: 28px;
		font-weight: bolder;
		color: #3b3576;
		list-style: initial;
	}
}

.c3d3477 {
	color: #3b3576;
}
</style>
