<template>
	<component
		:is="insurance.insur_code.toLowerCase()"
		:insur-code="insurCode"
		:insurance-info="insurance"
		v-if="insurance && insurance.insur_code.toLowerCase()"
		@on-jump="jumpDialogChat"
	/>
</template>

<script>
import { insuranceList } from './insurance-list';
import Zhbwyy from '_v/pages/zhbwyy/zhbwyy';
import { getShareSDK } from '@/libs/wxsdk';
import { MIX_INSURANCE } from '@/mixins/module/insurance.mix';
import { handleUserAuth } from '@/router/auth-tool';
import Axskb from '_v/pages/axskb/axskb';

const { baseRoute } = require('@/settings');

export default {
	// 保险页面
	name: "insurance",
	components: { Axskb, Zhbwyy },
	mixins: [MIX_INSURANCE],
	data() {
		return {
			insuranceProducts: insuranceList
		}
	},
	computed: {
		insurCode() {
			return this.$route.query.insur_code
		},
		/**@type {InsuranceListProps}*/
		insurance({ insuranceProducts, insurCode }) {
			if(!insurCode)return null
			return insuranceProducts.find(item => item.insur_code.toLowerCase() === insurCode.toLowerCase())
		}
	},
	created() {
		if(!this.insurCode){
			return
		}
		let tmpinsurance = this.insurance
		document.title = tmpinsurance.title
		let url = location.href.split("#")[0]/*.replace(/\??CACHEK=.{8}&?/, '')*/;
		if(!url.includes('channel_code')){
			url = url + '&channel_code=insurance&source_code=h5'
		}
		getShareSDK({
			title: tmpinsurance.share_info.title,
			link: url,
			desc: tmpinsurance.share_info.desc,
			img: tmpinsurance.share_info.thumb
		});
		this.handleSubmitDataBuringInfo(tmpinsurance.buring_info.click_entry_code)
	},
	methods: {
		async jumpDialogChat(){
			this.handleSubmitDataBuringInfo(this.insurance.buring_info.open_servece_code)
			let flag = await handleUserAuth({
				full_path: this.$route.fullPath,
				path: this.$route.path
			})
			if(!flag)return
			location.href = this.insurance.insur_web_url
		}
	}
}
</script>

<style lang="less" scoped>
::v-deep .handle-btn{
	&.insurances{
		margin: 0 auto;
		width: 90%;
		border-radius: 25px;
		padding: 12px;
		background: linear-gradient(to right, #fac716, #ffa941);
		font-size: 22px;
		box-shadow: 0 0 7px rgba(0, 0, 0, .15);
		font-weight: bold;
		font-family: "黑体", PingFang SC, Helvetica Neue, Arial, sans-serif;
	}
}
</style>
