<template>
	<div class="svg-icon" style="display:inline-block;" @click="$emit('click')">
		<svg :width="size" xmlns="http://www.w3.org/2000/svg" :viewBox="svg.viewBox" v-for="svg in svgList.filter(item =>item.icon === icon)" :key="svg.icon">
			<path :fill="svg.color ? svg.color: color" :d="svg.path"></path>
		</svg>
	</div>
</template>

<script>
export default {
	name: "svg-icon",
	props: {
		icon: {
			type: String,
			required: true
		},
		size: {
			type: [String, Number],
			default: 20
		},
		color: {
			type: String,
			default: '#000'
		}
	},
	data(){
		return {
			svgList: [
				{ icon: 'image', viewBox: '0 0 512 512', path: 'M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z' },
				{ icon: 'submit', viewBox: '0 0 512 512', path: 'M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z' },
				{ icon: 'cancel', viewBox: '0 0 352 512', path: 'M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z', color: '#ed4014' }
			]
		}
	}
}
</script>

<style lang="less" scoped>
.svg-icon{
	svg{
		cursor: pointer;
	}
}
</style>
