<template>
	<div class="insurance-slot">
		<img class="banner insurance-main-bg" :src="mainImage" alt="">
		<div class="insurance-footer">
			<slot name="footer" />
		</div>
	</div>
</template>

<script>
export default {
	// 保险 插槽模板
	name: "insurance-slot",
	props: {
		mainImage: {
			type: String,
			required: true
		},
	}
}
</script>

<style lang="less" scoped>
.insurance-main-bg{
	display: block;
	width: 100%;
	height: auto;
}
.insurance-footer{
	position: sticky;
	position: -webkit-sticky;
	//position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
</style>
