<template>
	<div class="register-info">
		<p class="register-info-tip blue-theme">请填写信息，让我们可以更好地为您提供服务</p>
		<div>
			<ul class="register-info-card ml-12 mr-12">
				<li>
					<p class="question-title">1、我们应该怎样称呼您？</p>
					<div class="flex-layout">
						<input
							maxlength="4"
							v-model="answerInfo.lastname"
							class="username-inp mr-12 text-center blue-theme"
							@blur="onBlur"
						/>
						<!--<van-radio-gr-->
						<question-group
							v-model="answerInfo.pregender"
							direction="horizontal"
							:options="optionConfig.pregender"
							type="radio"
						/>
					</div>
				</li>
				<li class="mb20">
					<p class="question-title">2、请填写您的联系方式？</p>
					<div class="flex-layout">
						<input
							maxlength="11"
							type="tel"
							v-model="answerInfo.signuptel"
							class="username-inp w-auto mr-12 blue-theme"
						/>

					</div>
				</li>
				<li>
					<p class="question-title">3、请问您的年龄是？</p>
					<question-group
						v-model="answerInfo.preage"
						direction="horizontal"
						:options="optionConfig.preage"
						type="radio"
					/>
				</li>
				<li>
					<p class="question-title">4、请问您的肾病分期是？</p>
					<question-group
						v-model="answerInfo.ckdlevel"
						direction="horizontal"
						:options="optionConfig.ckdlevel"
						type="radio"
					/>
				</li>
				<li>
					<p class="question-title">5、您是否关注最新的治疗技术与治疗费用报销的相关信息？</p>
					<question-group
						v-model="answerInfo.focusontreatment"
						:options="optionConfig.focusontreatment"
						type="radio"
					/>
				</li>
				<!--<li>
					<p class="question-title">6、以下话题，您最关心哪项？（请选择3项）</p>
					<question-group
						v-model="answerInfo.topicofcarelist"
						:options="optionConfig.topicofcarelist"
						type="checkbox"
					/>
				</li>-->
			</ul>
			<div class="flex-layout flex-jcc mb-10 pb-10">
				<van-button
					class="handle-btn-blue"
					@click="submitRegister"
				>
					提交报名信息
				</van-button>
			</div>
		</div>
		<van-popup position="bottom" style="height: 100%;width: 100%;" v-model="completedInfo.visible">
			<div class="completed flex-layout flex-jcc flex-aic flex-col">
				<p class="tit blue-theme bolder">我们已收到您的报名信息</p>
				<p>
					<img src="http://static.ishenzang.com/static/ko/h5/insurance/register_bg.png" alt="">
				</p>
				<!--<van-button-->
				<!--	class="handle-btn-blue"-->
				<!--	@click="() =>{-->
				<!--		completedInfo.visible = false-->
				<!--		completedInfo.disabled = true-->
				<!--	}"-->
				<!--&gt;确定</van-button>-->
			</div>
		</van-popup>
	</div>
</template>

<script>
import QuestionGroup from '_v/questions/comp/question-group';
import { GetPatientByUnionId, SignUpForWx } from '_v/questions/api_questions';
import { cloneObj, isEmpty } from 'vue-blur-load/src/tools';
import { getShareSDK } from '@/libs/wxsdk';


export default {
	// 报名信息
	name: "register-info",
	components: { QuestionGroup },
	data() {
		return {
			answerInfo: {
				lastname: '',
				pregender: '',
				signuptel: '',
				preage: '',
				ckdlevel: '',
				focusontreatment: '',
				// topicofcarelist: []
			},
			optionConfig: {
				pregender: [
					{ name: 'm', label: '先生' },
					{ name: 'f', label: '女士' }
				],
				preage: [
					{ name: 1, label: '18岁以下' },
					{ name: 2, label: '18-35岁' },
					{ name: 3, label: '36-45岁' },
					{ name: 4, label: '46-60岁' },
					{ name: 5, label: '60岁以上' }
				],
				ckdlevel: [
					{ name: 1, label: '1期' },
					{ name: 2, label: '2期' },
					{ name: 3, label: '3a期' },
					{ name: 4, label: '3b期' },
					{ name: 5, label: '4期' },
					{ name: 6, label: '5期' },
					{ name: 7, label: '不清楚' },
				],
				focusontreatment: [
					{ name: 1, label: '比较关注最新治疗技术' },
					{ name: 2, label: '比较关注治疗费用报销相关信息' },
					{ name: 3, label: '二者都比较关注' },
					{ name: 4, label: '二者都不太关注' }
				],
				// topicofcarelist: [
				// 	{ name: 1, label: '为什么不同医生对同一位患者可能会给出不一样的治行方案' },
				// 	{ name: 2, label: '肾病愚者为什么需要定期做多项检查，不同检查的作用和意义分别是什么' },
				// 	{ name: 3, label: '对于女性肾友，日常保养美容应注意哪些事项' },
				// 	{ name: 4, label: '冬季饮食有哪些问题肾友应该注意' },
				// 	{ name: 5, label: '治疗技术及费用的现状与趋势' }
				// ]

			},
			completedInfo: {
				visible: false,
			}
		}
	},
	watch: {
		'answerInfo.topicofcarelist'(v){
			if(v.length > 3){
				this.$toast('关心话题应选三项')
				this.answerInfo.topicofcarelist.pop()
			}
		}
	},
	created() {
		let link = location.href.split("#")[0]/*.replace(/\??CACHEK=.{8}&?/, '')*/;
		getShareSDK({
			title: '线上讲座报名信息',
			link,
			desc: '请完善信息，让我们可以更好地为您服务',
			img: 'http://static.ishenzang.com/static/ko/h5/insurance/register_bg.png'
		});
		this.handleGetPatientByUnionId()
	},
	methods: {
		onBlur({ target: { value } }){
			let reg = /^[\u4E00-\u9FA5A-Za-z]+$/g
			if(!reg.test(value)){
				this.$toast('称呼只可为中文或英文')
				let repArr = this.answerInfo.lastname.match(/^[\u4E00-\u9FA5A-Za-z]+$/g)
				if(repArr){
					this.answerInfo.lastname = repArr.join('')
				}else {
					this.answerInfo.lastname = ''
				}
			}
		},
		async handleGetPatientByUnionId(){
			let { data } = await GetPatientByUnionId({
				unionid: this.$store.getters.loginData.unionid
			})
			this.completedInfo.visible = !!data.info && !!data.info['hassignup']
			cloneObj(this.answerInfo, data.info)
		},
		async submitRegister(){
			if(!this.answerInfo.lastname){
				this.$toast('请完善【昵称】')
				return
			}
			if(!this.answerInfo.pregender){
				this.$toast('请完善【性别】')
				return
			}
			if(this.answerInfo.signuptel.length !== 11){
				this.$toast('请检查【联系方式】')
				return
			}
			if(!this.answerInfo.preage){
				this.$toast('请完善【年龄】')
				return
			}
			if(!this.answerInfo.ckdlevel){
				this.$toast('请完善【肾病分期】')
				return
			}
			if(!this.answerInfo.focusontreatment){
				this.$toast('请完善【问题四】')
				return
			}
			// if(this.answerInfo.topicofcarelist.length !== 3){
			// 	this.$toast('关心话题应选三项')
			// 	return
			// }
			// console.log(this.answerInfo.topicofcarelist)
			// return
			let { unionid, wx_nickname, wx_headimgurl } = this.$store.getters.loginData
			let resData = {
				unionid,
				nikename: wx_nickname,
				pic: wx_headimgurl,
				...this.answerInfo
			}
			let load = this.$Load.show({
				size: 'small',
				content: '提交中'
			})
			await SignUpForWx({signup: resData})
			load.close(() =>{
				this.completedInfo.visible = true
			})
		}
	}
}
</script>

<style lang="less" scoped>
@import "../questions";

.register-info {
	background: #F5F5F5;

	&-tip {
		margin: 16px 35px;
	}

	.handle-btn {
		margin: 0 auto 40px;
	}
}


.register-info-card {
	border-radius: 13px;
	background: #fff;
	padding: 24px 22px 24px 24px;
	margin-bottom: 32px;
	font-size: 17px;

	.question-title {
		font-size: 17px;
		font-weight: bolder;
		color: #333;
		margin-bottom: 20px;
	}

	.username-inp {
		outline: none;
		border: none;
		border-bottom: 1px solid #999;
		width: 63px;
		height: 18px;
		border-radius: unset;
	}

	.mb20{
		margin-bottom: 20px;
	}

	.w-auto{
		width: auto;
	}
	ul > li {
		//margin-bottom: 20px;
	}
}
</style>
