<template>
	<div class="zhbwyy">
		<insurance-slot main-image="http://static.ishenzang.com/static/ko/h5/insurance/zhbwyy_bg_@1x.png">
			<template #footer>
			<div class="handle-btn insurances" @click="$emit('on-jump')">
				点击查看购买资格
			</div>
			</template>
		</insurance-slot>
	</div>
</template>

<script>
import InsuranceSlot from '_c/insurance-slot/insurance-slot';

export default {
	// 众惠百万医疗
	name: "zhbwyy",
	components: { InsuranceSlot }
}
</script>

<style lang="less" scoped>
.zhbwyy {
	background: linear-gradient(262deg, #c6efff, #dff1ff);
}

::v-deep {
	.insurance-main-bg {
		margin-top: -30px;
	}

	.insurance-footer {
		background: linear-gradient(to right, #dff1ff, #c6efff);

		//i {
		//	display: block;
		//	width: 100%;
		//	min-height: 70px;
		//	background: url("http://static.ishenzang.com/static/ko/h5/insurance/zhbwyy_btn_@1x.png") center 5px / cover no-repeat;
		//	margin: 0 auto;
		//}
	}
}

@media only screen and (device-width: 375px) and (device-height: 812px) {
	img.banner {
		margin-top: 0;
	}
}

//iphone Xs Max
@media only screen and (device-width: 414px) and (device-height: 896px) {
	img.banner {
		margin-top: 0;
	}
}

//iphone XR
@media only screen and (device-width: 414px) and (device-height: 896px) {
	img.banner {
		margin-top: 0;
	}
}
</style>
